[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
isort = "*"
black = "==21.9b0"
ptpython = "*"
regex = "<2021.10.8"

[packages]
requests = "*"
click = "*"

[requires]
python_version = "3.9"
